@model List<PeopleViewModel>

@{
    ViewData["Title"] = "Show list of the people";
}

<div class="d-flex flex-row">

    <a class="btn btn-link"
       asp-controller="People"
       asp-action="Create">
        Add new person
    </a>

    <form class="form-inline ml-auto">
        <label class="ml-auto" for="search">Search</label>
        <input type="text" class="form-control mb-2 mx-sm-2" id="search" name="search">

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

</div>

<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (PeopleViewModel item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>
                <a asp-controller="People"
                   asp-action="Details" asp-route-id="@item.Id">
                    Details
                </a>
            </td>
        </tr>
    }

    </tbody>
</table>