@model List<PeopleViewModel>

@{
    ViewData["Title"] = "Show list of the people";
}

<div class="d-flex flex-row">

    <a class="btn btn-link"
       asp-controller="People"
       asp-action="Create">
        Add new person
    </a>

    <form class="form-inline ml-auto">
        <label class="ml-auto" for="search">Search</label>
        <input type="text" class="form-control mb-2 mx-sm-2" id="search" name="search">

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

</div>

<div class="container-fluid">
    <div class="row">
        @foreach (PeopleViewModel person in Model)
        {
            @Html.Partial("_PersonRender", person)
        }
    </div>
</div>