@model City

@{ 
    ViewData["Title"] = "Show details city";
}

<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row" class="border-0">Name</th>
            <td class="border-0">@Model.Name</td>
        </tr>
        <tr>
            <th scope="row" class="border-0">Country</th>
            <td class="border-0">@Model.Country.Name</td>
        </tr>
    </tbody>
</table>